html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  color: white;
  display: flex;
  align-items: center;
}

.wrap {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: black;
  border-radius: 20px
}

.clock {
  font-size: 4em;
  font-family: monospace;
  font-weight: bold;
}

.output {
  font-size: 3em;
  font-family: monospace;
  font-weight: bold;
}
